<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Dan Denney{% endblock %} Front-End Dev at Envy Labs</title>
    <link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic' rel='stylesheet' type='text/css'>
    {{ "application.css" | asset_url | stylesheet_tag }}
  </head>
  <body>
    
    {% include "header" %}
    
    <main class="content">
      <article class="l-bucket">
        <h1>{{ model.title }}</h1>
        {% block content %}{% endblock %}
        <small class="date">{{ model.date | date:'%b %d %Y' }}</small>
        {% include "articles/paging" %}
      </article>
    </main>
    
    {% include "footer" %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    
    {{ "app.js" | asset_url | script_tag }}

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f8f96b2f5a1f546a80000f8');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>