---
layout: tinkering
date: February 5, 2015
title: Roulettingale
css: tinkerings/roulettingale
js: tinkerings/roulettingale/roulettingale
---

%section.row

	%h1.mtm.tac Roulettingale
	%p.tac
		A data project observing the performance of the Martingale betting system in Roulette.
		%a{ href: "#details" } Details

	.cell

		- data.roulettingale.reverse.each do |s|
			%article.session{ class: ("js-id" + (s.id)) }
				%aside.session-meta

					.session-meta-id.mhc.mbs
						#{s.id}

					%ul.session-meta-list
						%li
							%p.key-value #{s.totalSpins}
							%h5 Spins

						%li
							%p.key-value.dollars.js-winnings #{s.wins}
							%h5 Profit

						%li
							%p.key-value.dollars.js-minBet 50
							%h5 Min Bet

						%li
							%p.key-value.dollars.js-maxBet #{s.maxBet}
							%h5 Max Bet

						%li
							%p.key-value.dollars.js-minBankroll #{s.minBankroll}
							%h5 Min Bankroll

					%table.proof
						%tr
							%td.h5
								Mirage - ($25 - $20,000)
							%td.session-meta-proof.js-checkMirage{ "data-maxbet" => s.maxBet }
								&#10003;

						%tr
							%td.h5
								MGM - ($25 - $10,000)
							%td.session-meta-proof.js-checkMGM{ "data-maxbet" => s.maxBet }
								&#10003;
						%tr
							%td.h5
								Beau Rivage - ($10 - $15,000)
							%td.session-meta-proof.js-checkBeau{ "data-maxbet" => s.maxBet }
								&#10003;

					.mtl
						- if s.notes != ""
							Notes: #{s.notes}

				%section.session-stats

					%h3.mtf.tac Spins

					%table.spins.js-spins
						%thead
							%th Bet
							%th Amount
							%th Result
							%th Number
							%th Red
							%th Black
							%th Even
							%th Odd
							%th 1-18
							%th 19-36

						- s.spins.each do |sp|
							%tr
								%td.ttc=sp.bet
								%td
									%span.dollars--a $
									= (sp.amount * 50)
								%td.session-stats-result
									%span{ class: (sp.result == 'l' ? 'negative' : 'positive') }
										%span.dollars--a $
										= (sp.amount * 50)
								%td.tac=sp.number
								%td.tss.js-n-red
									- if sp.number == 1
										.positive--a &#10003;
									- elsif sp.number == 3
										.positive--a &#10003;
									- elsif sp.number == 5
										.positive--a &#10003;
									- elsif sp.number == 7
										.positive--a &#10003;
									- elsif sp.number == 9
										.positive--a &#10003;
									- elsif sp.number == 12
										.positive--a &#10003;
									- elsif sp.number == 14
										.positive--a &#10003;
									- elsif sp.number == 16
										.positive--a &#10003;
									- elsif sp.number == 18
										.positive--a &#10003;
									- elsif sp.number == 19
										.positive--a &#10003;
									- elsif sp.number == 21
										.positive--a &#10003;
									- elsif sp.number == 23
										.positive--a &#10003;
									- elsif sp.number == 25
										.positive--a &#10003;
									- elsif sp.number == 27
										.positive--a &#10003;
									- elsif sp.number == 30
										.positive--a &#10003;
									- elsif sp.number == 32
										.positive--a &#10003;
									- elsif sp.number == 34
										.positive--a &#10003;
									- elsif sp.number == 36
										.positive--a &#10003;
									- else
										.negative--a &#10008;

								%td.tss.js-n-black
									- if sp.number == 2
										.positive--a &#10003;
									- elsif sp.number == 4
										.positive--a &#10003;
									- elsif sp.number == 6
										.positive--a &#10003;
									- elsif sp.number == 8
										.positive--a &#10003;
									- elsif sp.number == 10
										.positive--a &#10003;
									- elsif sp.number == 11
										.positive--a &#10003;
									- elsif sp.number == 13
										.positive--a &#10003;
									- elsif sp.number == 15
										.positive--a &#10003;
									- elsif sp.number == 17
										.positive--a &#10003;
									- elsif sp.number == 20
										.positive--a &#10003;
									- elsif sp.number == 22
										.positive--a &#10003;
									- elsif sp.number == 24
										.positive--a &#10003;
									- elsif sp.number == 26
										.positive--a &#10003;
									- elsif sp.number == 28
										.positive--a &#10003;
									- elsif sp.number == 29
										.positive--a &#10003;
									- elsif sp.number == 31
										.positive--a &#10003;
									- elsif sp.number == 33
										.positive--a &#10003;
									- elsif sp.number == 35
										.positive--a &#10003;
									- else
										.negative--a &#10008;

								%td.tss.js-n-even
									- if sp.number == 2
										.positive--a &#10003;
									- elsif sp.number == 4
										.positive--a &#10003;
									- elsif sp.number == 6
										.positive--a &#10003;
									- elsif sp.number == 8
										.positive--a &#10003;
									- elsif sp.number == 10
										.positive--a &#10003;
									- elsif sp.number == 12
										.positive--a &#10003;
									- elsif sp.number == 14
										.positive--a &#10003;
									- elsif sp.number == 16
										.positive--a &#10003;
									- elsif sp.number == 18
										.positive--a &#10003;
									- elsif sp.number == 20
										.positive--a &#10003;
									- elsif sp.number == 22
										.positive--a &#10003;
									- elsif sp.number == 24
										.positive--a &#10003;
									- elsif sp.number == 26
										.positive--a &#10003;
									- elsif sp.number == 28
										.positive--a &#10003;
									- elsif sp.number == 30
										.positive--a &#10003;
									- elsif sp.number == 32
										.positive--a &#10003;
									- elsif sp.number == 34
										.positive--a &#10003;
									- elsif sp.number == 36
										.positive--a &#10003;
									- else
										.negative--a &#10008;

								%td.tss.js-n-odd
									- if sp.number == 1
										.positive--a &#10003;
									- elsif sp.number == 3
										.positive--a &#10003;
									- elsif sp.number == 5
										.positive--a &#10003;
									- elsif sp.number == 7
										.positive--a &#10003;
									- elsif sp.number == 9
										.positive--a &#10003;
									- elsif sp.number == 11
										.positive--a &#10003;
									- elsif sp.number == 13
										.positive--a &#10003;
									- elsif sp.number == 15
										.positive--a &#10003;
									- elsif sp.number == 17
										.positive--a &#10003;
									- elsif sp.number == 19
										.positive--a &#10003;
									- elsif sp.number == 21
										.positive--a &#10003;
									- elsif sp.number == 23
										.positive--a &#10003;
									- elsif sp.number == 25
										.positive--a &#10003;
									- elsif sp.number == 27
										.positive--a &#10003;
									- elsif sp.number == 29
										.positive--a &#10003;
									- elsif sp.number == 31
										.positive--a &#10003;
									- elsif sp.number == 33
										.positive--a &#10003;
									- elsif sp.number == 35
										.positive--a &#10003;
									- else
										.negative--a &#10008;

								%td.tss.js-n-118
									- if sp.number == 1
										.positive--a &#10003;
									- elsif sp.number == 2
										.positive--a &#10003;
									- elsif sp.number == 3
										.positive--a &#10003;
									- elsif sp.number == 4
										.positive--a &#10003;
									- elsif sp.number == 5
										.positive--a &#10003;
									- elsif sp.number == 6
										.positive--a &#10003;
									- elsif sp.number == 7
										.positive--a &#10003;
									- elsif sp.number == 8
										.positive--a &#10003;
									- elsif sp.number == 9
										.positive--a &#10003;
									- elsif sp.number == 10
										.positive--a &#10003;
									- elsif sp.number == 11
										.positive--a &#10003;
									- elsif sp.number == 12
										.positive--a &#10003;
									- elsif sp.number == 13
										.positive--a &#10003;
									- elsif sp.number == 14
										.positive--a &#10003;
									- elsif sp.number == 15
										.positive--a &#10003;
									- elsif sp.number == 16
										.positive--a &#10003;
									- elsif sp.number == 17
										.positive--a &#10003;
									- elsif sp.number == 18
										.positive--a &#10003;
									- else
										.negative--a &#10008;

								%td.tss.js-n-1936
									- if sp.number == 19
										.positive--a &#10003;
									- elsif sp.number == 20
										.positive--a &#10003;
									- elsif sp.number == 21
										.positive--a &#10003;
									- elsif sp.number == 22
										.positive--a &#10003;
									- elsif sp.number == 23
										.positive--a &#10003;
									- elsif sp.number == 24
										.positive--a &#10003;
									- elsif sp.number == 25
										.positive--a &#10003;
									- elsif sp.number == 26
										.positive--a &#10003;
									- elsif sp.number == 27
										.positive--a &#10003;
									- elsif sp.number == 28
										.positive--a &#10003;
									- elsif sp.number == 29
										.positive--a &#10003;
									- elsif sp.number == 30
										.positive--a &#10003;
									- elsif sp.number == 31
										.positive--a &#10003;
									- elsif sp.number == 32
										.positive--a &#10003;
									- elsif sp.number == 33
										.positive--a &#10003;
									- elsif sp.number == 34
										.positive--a &#10003;
									- elsif sp.number == 35
										.positive--a &#10003;
									- elsif sp.number == 36
										.positive--a &#10003;
									- else
										.negative--a &#10008;

					%ul.spins-percentages

						%li
							%p.mbf.key-value.js-count-red
							%p.mbf.mtf.js-prct-red
							%h5
								Red

						%li
							%p.mbf.key-value.js-count-black
							%p.mbf.mtf.js-prct-black
							%h5
								Black

						%li
							%p.mbf.key-value.js-count-even
							%p.mbf.mtf.js-prct-even
							%h5
								Even

						%li
							%p.mbf.key-value.js-count-odd
							%p.mbf.mtf.js-prct-odd
							%h5
								Odd

						%li
							%p.mbf.key-value.js-count-118
							%p.mbf.mtf.js-prct-118
							%h5
								1-18

						%li
							%p.mbf.key-value.js-count-1936
							%p.mbf.mtf.js-prct-1936
							%h5
								19-36


%section#details.row.post
	.cell.cell--s.well

		=image_tag 'tinkerings/roulettingale/roulette-board.svg', class: 'mbl mtl', width: '100%'

		%h1
			Roulettingale

		%p.tss
			February 5, 2015

		%h2 The Idea
		Track and visualize series of attempts to use the martingale betting system in Roulette.

		%p
			I recently learned of the Martingale betting system and how it's one of the popular betting systems used in roulette. I've always been a fan of number systems, especially ones that involve wagering: stocks and gambling.

		%p
			There are some decent roulette apps for iOS and the Mac so I'm going to run a series of tests using the system, record data, and visualize it.

		%h2 Manual Data Collection… yuk
		%p
			This is all manual and I'll use a couple of different apps to get different results. I've been using an app on iOS called
			%strong
				Roulette - Casino Style
			and I've already noticed a couple of patterns where it repeats numbers after a win.

		%p
			I do have some concerns about using these apps because they offer in-app purchases. While the odds alone would lead to plenty of purchases, it certainly seems like it would be easy to program some occasional lose streaks to help out.

		%p
			In my first day of testing, my longest losings streaks came from only betting black and using the system. I'll test more to see if that is normal.

		%h2 What to Observe

		%h4
			I want to know a few things:

		%ul
			%li
				How does it work over a long series of spins?
			%li
				How does it perform over short sessions with a goal of 10 wins?
			%li
				What bankroll would be necessary to complete the worst session?
			%li
				What bankroll would be necessary to complete the average session?
			%li
				What casino stakes allow for the worst session to be completed?
			%li
				What casino stakes allow for the average session to be completed?

		%h2 The First Sessions

		%p
			I believe that this is what I want to know and display about individual sessions. This part tells the important part of the data:

		%p
			Can you successfully win 10 times your minimum wager within the stakes?

		%p.mbf
			If so, how much of a bankroll was necessary to achieve it and how many rolls did it take?

		.mbl.tss
			(It seems you can get in 35 - 112 spins per hour depending on the number of players. <a href="http://wizardofodds.com/ask-the-wizard/136/" class="tss">Reference</a> )

		%article.tsm

			%h3 Session 001

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 16

				%dt Max Bet
				%dd 4x

				%dt Min Bankroll
				%dd 7x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 002

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 21

				%dt Max Bet
				%dd 8x

				%dt Min Bankroll
				%dd 15x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 003

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 17

				%dt Max Bet
				%dd 4x

				%dt Min Bankroll
				%dd 7x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 004

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 31

				%dt Max Bet
				%dd 128x

				%dt Min Bankroll
				%dd 255x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, No

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 005

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 21

				%dt Max Bet
				%dd 16x

				%dt Min Bankroll
				%dd 31x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 006

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 22

				%dt Max Bet
				%dd 16x

				%dt Min Bankroll
				%dd 31x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 007

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 19

				%dt Max Bet
				%dd 4x

				%dt Min Bankroll
				%dd 7x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 008

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 21

				%dt Max Bet
				%dd 32x

				%dt Min Bankroll
				%dd 63x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%h2 Session Spins and Bets

		%p
			I'm recording each spin and bet as well. While these aren't useful in answering the questions, they'll make for some interesting visualizations. I'll also need to learn how to compile and compare data sets, which is one of the goals of this little project.

		%h2 Colors

		%p
			I searched for
			%strong roulette
			and
			%strong casino
			on
			=link_to 'colourlovers.com', 'http://colourlovers.com'
			and found a few options that I dig.

			%ul
				%li
					=image_tag 'tinkerings/roulettingale/palette-casino-royale.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-roulette.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-russian-roulette.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-russian-roulette-2.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-vintage-casino.png', width: '400'

		%h2 Graphs

		%p
			This is a loose example, but I'm thinking of plotting the rolls like this with the 00 through 36 on the Y axis and the X axis showing spin count and bet amount.

		=image_tag 'tinkerings/roulettingale/example-plot-graph.png'

		%p
			Chartist gets closer to showing it, albeit with the usual range problem which I'll need to solve with d3 instead.

		=image_tag 'tinkerings/roulettingale/example-chartist.jpg'

		%h3.mtm
			February 6, 2015

		%p
			Got a big JSON going and spewing out data. Let's get it on.

		%h3
			February 7, 2015

		%p
			I went with the first color scheme, Casino Royale, and began adding some styles. I think this is a good time to learn some flexbox. I want some things vertically centered and I want the sidebar with information to have a different color background. The 2 columns are uneven and can vary as to which one is longer. There are hacks for that in the grid but I'd rather just learn flexbox since this is a side project and I'm not worried about people seeing it or what browser they're in.

		%p
			I'm doing a weird combination of Middleman math and JS math to get the values. When I do a session, I've started recording them as single unit values. Ultimately, I want to show the results for multiple bet amounts: $25, $50, $100, maybe $200. For now, I got it working at $50 and I'll work out how to make it more flexible when I'm ready.

		%h3
			February 8, 2015

		%p
			The beautiful thing about working with existing data to create the designs is that the data dictates the needs. Before collecting and organizing, I imagined that a scatter chart showing all of the numbers would be interesting. While it may look interesting visually, it doesn't have much impact on the proofing that I'm doing. In this case, I really don't care about what numbers are there. I only care what category they are in, with categories being an available even-money bet type: 1-18, 19-36, odd, even, black, red. I'm not recording this information, but that's just because it's so much more effort and leaves room for error. I'll be using Middleman for this, comparing the individual number against a set of numbers. I'll get a rough version working with template logic and then bug Drew for how to write it better.

		%p
			Streaks are another thing of interest. They are the best or the worst thing that can happen to a session. A streak of wins is good, a streak of losses is bad. Right now, I can't get these at all. I'll need the results of the checks on the numbers to then identify streaks. Not sure how that will happen yet, but I'll work it out once I can see them.

		%h4 Hitting a wall
		%p
			I have this data, but I don't know how to extract certain bits out of it. These things are easily done manually, but I want to do them programmatically. I want to be able to programmatically show what category of bet a spin number is and then graph the results of those.

		%p
			At this moment, I can't achieve that even with data that I do have recorded. In a session, I want to divide the numbers into their bet categories and graph opposing categories: Red vs. Black, Even vs. Odd, 1-18 vs. 19-36. I can create a table with some really complex if statements, but thinking that this may be a scenario where I have to combine Middleman and d3.

		%p
			You can see the results and the streaks here, but I also want them in graphs. This is a start, though, so I'm going to put these in. Visually, the check and the 'x' aren't big enough to follow cleanly so I'll do them in a different way.

		- data.roulettingale[0...3].each do |es|
			%table.complex
				%thead
					%th Number
					%th Red
					%th Black
					%th Even
					%th Odd
					%th 1-18
					%th 19-36
				- es.spins.each do |esp|
					%tr
						%td= esp.number
						%td
							- if esp.number == 1
								%span.positive &#10003;
							- elsif esp.number == 3
								%span.positive &#10003;
							- elsif esp.number == 5
								%span.positive &#10003;
							- elsif esp.number == 7
								%span.positive &#10003;
							- elsif esp.number == 9
								%span.positive &#10003;
							- elsif esp.number == 12
								%span.positive &#10003;
							- elsif esp.number == 14
								%span.positive &#10003;
							- elsif esp.number == 16
								%span.positive &#10003;
							- elsif esp.number == 18
								%span.positive &#10003;
							- elsif esp.number == 19
								%span.positive &#10003;
							- elsif esp.number == 21
								%span.positive &#10003;
							- elsif esp.number == 23
								%span.positive &#10003;
							- elsif esp.number == 25
								%span.positive &#10003;
							- elsif esp.number == 27
								%span.positive &#10003;
							- elsif esp.number == 30
								%span.positive &#10003;
							- elsif esp.number == 32
								%span.positive &#10003;
							- elsif esp.number == 34
								%span.positive &#10003;
							- elsif esp.number == 36
								%span.positive &#10003;
							- else
								%span.negative &#10008;

						%td
							- if esp.number == 2
								%span.positive &#10003;
							- elsif esp.number == 4
								%span.positive &#10003;
							- elsif esp.number == 6
								%span.positive &#10003;
							- elsif esp.number == 8
								%span.positive &#10003;
							- elsif esp.number == 10
								%span.positive &#10003;
							- elsif esp.number == 11
								%span.positive &#10003;
							- elsif esp.number == 13
								%span.positive &#10003;
							- elsif esp.number == 15
								%span.positive &#10003;
							- elsif esp.number == 17
								%span.positive &#10003;
							- elsif esp.number == 20
								%span.positive &#10003;
							- elsif esp.number == 22
								%span.positive &#10003;
							- elsif esp.number == 24
								%span.positive &#10003;
							- elsif esp.number == 26
								%span.positive &#10003;
							- elsif esp.number == 28
								%span.positive &#10003;
							- elsif esp.number == 29
								%span.positive &#10003;
							- elsif esp.number == 31
								%span.positive &#10003;
							- elsif esp.number == 33
								%span.positive &#10003;
							- elsif esp.number == 35
								%span.positive &#10003;
							- else
								%span.negative &#10008;
						%td
							- if esp.number == 2
								%span.positive &#10003;
							- elsif esp.number == 4
								%span.positive &#10003;
							- elsif esp.number == 6
								%span.positive &#10003;
							- elsif esp.number == 8
								%span.positive &#10003;
							- elsif esp.number == 10
								%span.positive &#10003;
							- elsif esp.number == 12
								%span.positive &#10003;
							- elsif esp.number == 14
								%span.positive &#10003;
							- elsif esp.number == 16
								%span.positive &#10003;
							- elsif esp.number == 18
								%span.positive &#10003;
							- elsif esp.number == 20
								%span.positive &#10003;
							- elsif esp.number == 22
								%span.positive &#10003;
							- elsif esp.number == 24
								%span.positive &#10003;
							- elsif esp.number == 26
								%span.positive &#10003;
							- elsif esp.number == 28
								%span.positive &#10003;
							- elsif esp.number == 30
								%span.positive &#10003;
							- elsif esp.number == 32
								%span.positive &#10003;
							- elsif esp.number == 34
								%span.positive &#10003;
							- elsif esp.number == 36
								%span.positive &#10003;
							- else
								%span.negative &#10008;
						%td
							- if esp.number == 1
								%span.positive &#10003;
							- elsif esp.number == 3
								%span.positive &#10003;
							- elsif esp.number == 5
								%span.positive &#10003;
							- elsif esp.number == 7
								%span.positive &#10003;
							- elsif esp.number == 9
								%span.positive &#10003;
							- elsif esp.number == 11
								%span.positive &#10003;
							- elsif esp.number == 13
								%span.positive &#10003;
							- elsif esp.number == 15
								%span.positive &#10003;
							- elsif esp.number == 17
								%span.positive &#10003;
							- elsif esp.number == 19
								%span.positive &#10003;
							- elsif esp.number == 21
								%span.positive &#10003;
							- elsif esp.number == 23
								%span.positive &#10003;
							- elsif esp.number == 25
								%span.positive &#10003;
							- elsif esp.number == 27
								%span.positive &#10003;
							- elsif esp.number == 29
								%span.positive &#10003;
							- elsif esp.number == 31
								%span.positive &#10003;
							- elsif esp.number == 33
								%span.positive &#10003;
							- elsif esp.number == 35
								%span.positive &#10003;
							- else
								%span.negative &#10008;
						%td
							- if esp.number == 1
								%span.positive &#10003;
							- elsif esp.number == 2
								%span.positive &#10003;
							- elsif esp.number == 3
								%span.positive &#10003;
							- elsif esp.number == 4
								%span.positive &#10003;
							- elsif esp.number == 5
								%span.positive &#10003;
							- elsif esp.number == 6
								%span.positive &#10003;
							- elsif esp.number == 7
								%span.positive &#10003;
							- elsif esp.number == 8
								%span.positive &#10003;
							- elsif esp.number == 9
								%span.positive &#10003;
							- elsif esp.number == 10
								%span.positive &#10003;
							- elsif esp.number == 11
								%span.positive &#10003;
							- elsif esp.number == 12
								%span.positive &#10003;
							- elsif esp.number == 13
								%span.positive &#10003;
							- elsif esp.number == 14
								%span.positive &#10003;
							- elsif esp.number == 15
								%span.positive &#10003;
							- elsif esp.number == 16
								%span.positive &#10003;
							- elsif esp.number == 17
								%span.positive &#10003;
							- elsif esp.number == 18
								%span.positive &#10003;
							- else
								%span.negative &#10008;
						%td
							- if esp.number == 19
								%span.positive &#10003;
							- elsif esp.number == 20
								%span.positive &#10003;
							- elsif esp.number == 21
								%span.positive &#10003;
							- elsif esp.number == 22
								%span.positive &#10003;
							- elsif esp.number == 23
								%span.positive &#10003;
							- elsif esp.number == 24
								%span.positive &#10003;
							- elsif esp.number == 25
								%span.positive &#10003;
							- elsif esp.number == 26
								%span.positive &#10003;
							- elsif esp.number == 27
								%span.positive &#10003;
							- elsif esp.number == 28
								%span.positive &#10003;
							- elsif esp.number == 29
								%span.positive &#10003;
							- elsif esp.number == 30
								%span.positive &#10003;
							- elsif esp.number == 31
								%span.positive &#10003;
							- elsif esp.number == 32
								%span.positive &#10003;
							- elsif esp.number == 33
								%span.positive &#10003;
							- elsif esp.number == 34
								%span.positive &#10003;
							- elsif esp.number == 35
								%span.positive &#10003;
							- elsif esp.number == 36
								%span.positive &#10003;
							- else
								%span.negative &#10008;

		%h4.mtl Digging this
		%p
			Seeing this in action, I think it's something that I'll want to keep (in addition to visualizing the percentages. It's really interesting and important to betting to see the streaks. Identifying long streaks allows to show how bad it couldn't have gotten in any one session.

		%p
			jQuery length will get me a lot of what I want so I'll probably start with that. Now that all of this stuff exists in the DOM I can loop over it pretty easily. One quick example is the number of times a number was 1-18 occurred in the first set. I chose this one because it's insanely low.

		%code
			%pre
				examplePos = $('.js-id001 .js-n-118 .positive--a').length;
				exampleNeg = $('.js-id001 .js-n-118 .negative--a').length;
				exampleTot = examplePos + exampleNeg
				examplePosPer = examplePos / exampleTot
				exampleNegPer = exampleNeg / exampleTot
				$('.example-positive').append(examplePosPer)
				$('.example-negative').append(exampleNegPer)

		.example
			%p
				1-18:
				%strong.example-positive

			%p
				19-36:
				%strong.example-negative

		%h4.mtl Ready for Charting

		%p
			As usual, getting the data in helped make decisions. Once I could see the percentages I realized that they're not as important. They'll make for a good graph (maybe a donut chart), but seeing the spin counts make things more apparent. It's awesome to see 009, which was a perfect session.

		%h4.mtl Bankroll Tables

		%p
			I've had this in a spreadsheet for reference but I'd rather have it here since I can see the streaks visually now.

		%table.tableizer-table
			%tr.tableizer-firstrow
				%th Losses
				%th Bets
				%th Bankroll
				%th Bets
				%th Bankroll
				%th Bets
				%th Bankroll
			%tr
				%td 1
				%td 25
				%td 25
				%td 50
				%td 50
				%td 100
				%td 100
			%tr
				%td 2
				%td 50
				%td 75
				%td 100
				%td 150
				%td 200
				%td 300
			%tr
				%td 3
				%td 100
				%td 175
				%td 200
				%td 350
				%td 400
				%td 700
			%tr
				%td 4
				%td 200
				%td 375
				%td 400
				%td 750
				%td 800
				%td 1500
			%tr
				%td 5
				%td 400
				%td 775
				%td 800
				%td 1550
				%td 1600
				%td 3100
			%tr
				%td 6
				%td 800
				%td 1575
				%td 1600
				%td 3150
				%td 3200
				%td 6300
			%tr
				%td 7
				%td 1600
				%td 3175
				%td 3200
				%td 6350
				%td 6400
				%td 12700
			%tr
				%td 8
				%td 3200
				%td 6375
				%td 6400
				%td 12750
				%td 12800
				%td 25500
			%tr
				%td 9
				%td 6400
				%td 12775
				%td 12800
				%td 25550
				%td 25600
				%td 51100
			%tr
				%td 10
				%td 12800
				%td 25575
				%td 25600
				%td 51150
				%td 51200
				%td 102300
			%tr
				%td 11
				%td 25600
				%td 51175
				%td 51200
				%td 102350
				%td 102400
				%td 204700
			%tr
				%td 12
				%td 51200
				%td 102375
				%td 102400
				%td 204750
				%td 204800
				%td 409500
			%tr
				%td 13
				%td 102400
				%td 204775
				%td 204800
				%td 409550
				%td 409600
				%td 819100
			%tr
				%td 14
				%td 204800
				%td 409575
				%td 409600
				%td 819150
				%td 819200
				%td 1638300
			%tr
				%td 15
				%td 409600
				%td 819175
				%td 819200
				%td 1638350
				%td 1638400
				%td 3276700

		%h3
			February 8, 2015

		%p
			Drew fixed my two problems in minutes, like usual. For the ternary operator on classes, I just wasn't supposed to keep the word "if".

		%code
			%pre
				span{ class: (sp.result == 'l' ? 'negative' : 'positive') }

		%p
			The comparisons are a bit more complicated. I need to set up a JSON with an array to compare to. It makes total sense, but I wouldn't have thought to do it on my own.

		%h4 Cha cha cha changes

		%p
			Changing up one small thing and one significant thing. I'm going to display the sessions in reverse order. When I add a new one it's silly to have to scroll past them all. The bigger thing is longer sessions.

		%p
			In 15 sessions, the biggest bet was $6,400. While that was the last bet before disqualfying the MGM limits, there was one additional bet left for each of the others. It's time to push the system for some sessions to see where it breaks.

		%p
			It didn't affect the session outcome because I was betting a new bet every time in rotation, but it had a 9 loss streak that would have made it impossible to bet the necessary amount at any of the casinos. With 9 losses, you need to be able to bet $25,600 but the most lenient allows for $20,000.

		%p
			With a $20k cap, you'd have $45,550 invested and would win $40,000. The cap causes a $5,550 loss.
			%br
			With a $10k cap, you'd have $22,750 invested and would win $20,000. The cap causes a $2,750 loss.
			%br
			With a $15k cap, you'd have $40,550 invested and would win $30,000. The cap causes a $10,550 loss.

		%p
			Imagine if you lost the max bet!

		%p
			The $15k is clearly the worst loss, but you get to last one extra loss in that and the $20k. 8 losses in a row guarantees a financial loss at a $10k cap, 9 losses guarantees a financial loss at $15k and $20k caps.

























