---
layout: tinkering
date: February 10, 2015
title: Roulettingale v2
css: tinkerings/roulettingale-v2
js: tinkerings/roulettingale/roulettingale-v2
---

%section.row

	= image_tag 'tinkerings/roulettingale/roulette-wheel.svg', class: 'wheel', width: '150'

	%h1.mts.tac Roulettingale v2
	%p.tac
		A data project testing the performance of the Martingale betting system in Roulette.

	/= data.roulettingale.map { |a| a["spins"].map { |b| b["result"] == "l"} }

%section.row

	.cell.well

		%h2.tac Totals

		%ul.total-list

			%li.total-list-sessions
				%span.db.tsxl.tcgd= data.roulettingale.count
				%small Sessions

			%li.total-list-wins
				%span.db.tsxl.tcgd= totalWins
				%small Wins

			%li.total-list-spins
				%span.db.tsxl.tcr= totalSpins
				%small Spins

			%li.total-list-maxBet
				.db
					%span.tsxl.tcr= maxBet
					%small.tsxs (x)
				%small Max Bet

			%li.total-list-minBankroll
				.db
					%span.tsxl.tcr= minBankroll
					%small.tsxs (x)
				%small Min Bankroll

		%h2.mtl.tac Risk (Minimum Bankroll)

		.ct-chart

		%h3.mtl.tac Money

		%table.money.striped-v.sub-heads{ width: "100%" }
			%thead
				%th.bgn &nbsp;
				%th.dollars 10
				%th.dollars 25
				%th.dollars 30
				%th.dollars 35
				%th.dollars 40
				%th.dollars 45
				%th.dollars 50
				%th.dollars 60
				%th.dollars 75

			%tr
				%td Profit
				%td.dollars.tcgd= (totalWins * 10)
				%td.dollars.tcgd= (totalWins * 25)
				%td.dollars.tcgd= (totalWins * 30)
				%td.dollars.tcgd= (totalWins * 35)
				%td.dollars.tcgd= (totalWins * 40)
				%td.dollars.tcgd= (totalWins * 45)
				%td.dollars.tcgd= (totalWins * 50)
				%td.dollars.tcgd= (totalWins * 60)
				%td.dollars.tcgd= (totalWins * 75)

			%tr
				%td Max Bet
				%td.dollars.tcr= (maxBet * 10)
				%td.dollars.tcr= (maxBet * 25)
				%td.dollars.tcr= (maxBet * 30)
				%td.dollars.tcr= (maxBet * 35)
				%td.dollars.tcr= (maxBet * 40)
				%td.dollars.tcr= (maxBet * 45)
				%td.dollars.tcr= (maxBet * 50)
				%td.dollars.tcr= (maxBet * 60)
				%td.dollars.tcr= (maxBet * 75)

			%tr
				%td Min Bankroll
				%td.dollars.tcr= (minBankroll * 10)
				%td.dollars.tcr= (minBankroll * 25)
				%td.dollars.tcr= (minBankroll * 30)
				%td.dollars.tcr= (minBankroll * 35)
				%td.dollars.tcr= (minBankroll * 40)
				%td.dollars.tcr= (minBankroll * 45)
				%td.dollars.tcr= (minBankroll * 50)
				%td.dollars.tcr= (minBankroll * 60)
				%td.dollars.tcr= (minBankroll * 75)

			%tr
				%td Pure Profit
				%td.dollars.tcgd= (totalWins * 10) - (512 * 10)
				%td.dollars.tcgd= (totalWins * 25) - (512 * 25)
				%td.dollars.tcgd= (totalWins * 30) - (512 * 30)
				%td.dollars.tcgd= (totalWins * 35) - (512 * 35)
				%td.dollars.tcgd= (totalWins * 40) - (512 * 40)
				%td.dollars.tcgd= (totalWins * 45) - (512 * 45)
				%td.dollars.tcgd= (totalWins * 50) - (512 * 50)
				%td.dollars.tcgd= (totalWins * 60) - (512 * 60)
				%td.dollars.tcgd= (totalWins * 75) - (512 * 75)

		%h3.mtl.tac Stakes

		%table.stakes.striped-h{ width: "100%" }
			%thead
				%th.bgn &nbsp;
				%th.dollars 10
				%th.dollars 25
				%th.dollars 30
				%th.dollars 35
				%th.dollars 40
				%th.dollars 45
				%th.dollars 50
				%th.dollars 60
				%th.dollars 75
				%th.dollars 80
				%th.dollars 90
				%th.dollars 100

			%tr
				%td.tal MGM ($25 - $10,000)
				%td -
				%td
					- if maxBet < (10000 / 25)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 30)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 35)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 40)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 45)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 50)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 60)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 75)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 80)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 90)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (10000 / 100)
						.positive--b &#10003;
					- else
						.negative--a &#10005;

			%tr
				%td.tal Beau Rivage ($10 - $15,000)
				%td
					- if maxBet < (15000 / 25)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 25)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 30)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 35)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 40)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 45)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 50)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 60)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 75)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 80)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 90)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (15000 / 100)
						.positive--b &#10003;
					- else
						.negative--a &#10005;

			%tr
				%td.tal Mirage ($25 - $20,000)
				%td -
				%td
					- if maxBet < (20000 / 25)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 30)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 35)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 40)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 45)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 50)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 60)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 75)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 80)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 90)
						.positive--b &#10003;
					- else
						.negative--a &#10005;
				%td
					- if maxBet < (20000 / 100)
						.positive--b &#10003;
					- else
						.negative--a &#10005;

		%h3.mtl.tac Hours of Play

		%table.hours.striped-h.mbxl{ width: "100%" }
			%thead
				%th Players
				%th 1
				%th 2
				%th 3
				%th 4
				%th 5
				%th 6
			%tr
				%td Hours
				%td.tcr= (totalSpins / 112)
				%td.tcr= (totalSpins / 76)
				%td.tcr= (totalSpins / 60)
				%td.tcr= (totalSpins / 55)
				%td.tcr= (totalSpins / 48)
				%td.tcr= (totalSpins / 35)

		- data.roulettingale.reverse.each do |s|

			%article.session{ class: ("js-id" + (s.id)) }

				%section.session-stats

					%ul.meta-list

						%li.meta-list-id
							.id
								%p.id-text= s.id

						%li.meta-list-wins
							%small Wins:
							%span.tsl.tcgd= s.wins

						%li.meta-list-spins
							%small Spins:
							%span.tsl.tcr= s.totalSpins

						%li.meta-list-maxBet
							%small Max Bet:
							%span.tsl.tcr= s.maxBet
							%small.tsxs (x)

						%li.meta-list-minBankroll
							%small Min Bankroll:
							%span.tsl.tcr= s.minBankroll
							%small.tsxs (x)

						%li.meta-list-action.tar
							%button.toggler.js-toggler

					.js-toggle.toggle.is-hidden

						%h3.mtm.tac Spins

						%table.spins.js-spins.bordered-h.mhc{ width: '100%' }
							%thead
								%th Bet
								%th Number
								%th Result
								%th Amount
								%th 10
								%th 25
								%th 50
								%th 60
								%th 75


							- s.spins.each do |sp|
								%tr

									%td.ttc=sp.bet

									%td.tac=sp.number

									%td.tac
										-if sp.result == "w"
											.positive--a &nbsp;
										- else
											.negative--a &nbsp;

									%td{ class: (sp.result == 'l' ? 'negative' : 'positive') }
										= (sp.amount)
										%span.tsxs
											(x)

									%td{ class: (sp.result == 'l' ? 'negative dollars' : 'positive dollars') }
										= (sp.amount * 10)

									%td{ class: (sp.result == 'l' ? 'negative dollars' : 'positive dollars') }
										= (sp.amount * 25)

									%td{ class: (sp.result == 'l' ? 'negative dollars' : 'positive dollars') }
										= (sp.amount * 50)

									%td{ class: (sp.result == 'l' ? 'negative dollars' : 'positive dollars') }
										= (sp.amount * 60)

									%td{ class: (sp.result == 'l' ? 'negative dollars' : 'positive dollars') }
										= (sp.amount * 75)


						%h3.mtm.tac Money

						%table.money.bordered-h.mbs{ width: "100%"}

							%thead
								%th.bgn &nbsp;
								%th.dollars 25
								%th.dollars 30
								%th.dollars 35
								%th.dollars 40
								%th.dollars 45
								%th.dollars 50
								%th.dollars 60
								%th.dollars 75

							%tr
								%td
									Winnings
								%td.dollars
									= (s.wins * 25)
								%td.dollars
									= (s.wins * 30)
								%td.dollars
									= (s.wins * 35)
								%td.dollars
									= (s.wins * 40)
								%td.dollars
									= (s.wins * 45)
								%td.dollars
									= (s.wins * 50)
								%td.dollars
									= (s.wins * 60)
								%td.dollars
									= (s.wins * 75)

							%tr
								%td
									Max Bet
								%td.dollars
									= (s.maxBet * 25)
								%td.dollars
									= (s.maxBet * 30)
								%td.dollars
									= (s.maxBet * 35)
								%td.dollars
									= (s.maxBet * 40)
								%td.dollars
									= (s.maxBet * 45)
								%td.dollars
									= (s.maxBet * 50)
								%td.dollars
									= (s.maxBet * 60)
								%td.dollars
									= (s.maxBet * 75)

							%tr
								%td
									Min Bankroll
								%td.dollars
									= (s.minBankroll * 25)
								%td.dollars
									= (s.minBankroll * 30)
								%td.dollars
									= (s.minBankroll * 35)
								%td.dollars
									= (s.minBankroll * 40)
								%td.dollars
									= (s.minBankroll * 45)
								%td.dollars
									= (s.minBankroll * 50)
								%td.dollars
									= (s.minBankroll * 60)
								%td.dollars
									= (s.minBankroll * 75)

%section.row
	.cell--s.well

		.card.mtl

			%h2 Project Goals

			%p
				The true purpose behind this project is learning how to collect, organize, and visualize data. However, number systems are my crack. So, ultimately it's a chance for me to learn while pouring through numbers.

			%p
				A toned-down explanation of the Martingale betting systems is that you bet a single amount on an even money bet. If you win, you collect the profit. If you lose, you continue doubling your bet until you win again. At that point, you will profit 1 original bet.

			%p
				Mathematically, you can't lose in a system that is allowed to run forever. To counter this, casinos restrict max bets.

		.card.mtl

			%h4 Questions:

			%ul

				%li.mtm
					%span.tss Q:
					Can you reach a certain number of wins before hitting the max bet?
					%br
					%span.tss A:
					%strong Yes

				%li.mtm
					%span.tss Q:
					If so, how many times can you win consistently?
					%br
					%span.tss A:
					%strong At least 20

				%li.mtm
					%span.tss Q:
					What is the maximum amount you could bet consistently?
					%br
					%span.tss A:
					%strong $75

				%li.mtm
					%span.tss Q:
					What would be the profit and risk at that level?
					%br
					%span.tss
						A:
					%strong
						%span.dollars
							= (totalWins * 75)
							Profit
						with a necessary bankroll of
						%span.dollars= (minBankroll * 75)

				%li.mtm
					%span.tss Q:
					Can I hit pure profit (512 wins) before a loss?
					%br
					%span.tss A:
					%strong Yes, in 37 sessions

				%li.mtm
					%span.tss Q:
					How does my choice of bets affect the results?
					%br
					%span.tss A:
					(In progress)

- content_for :assets do
	= stylesheet_link_tag 'vendor/chartist/chartist'

	%script
		new Chartist.Line('.ct-chart', {
		labels: #{chartistWins},
		series: [
		#{chartistBankroll}
		]
		}, {
		lineSmooth: true,
		showPoint: false,
		low: 0,
		height: 500,
		showArea: true
		});














