---
layout: tinkering
date: January 27, 2015
title: Spotify Data Project
css: tinkerings/spotify-data-project
js: tinkerings/spotify-data-project/spotify-data-project
---

%section
	%table
		- data.spotify.weeks.reverse.each do |w|
			%tr.title-count
				%td &nbsp;
				%td 10
				%td 09
				%td 08
				%td 07
				%td 06
				%td 05
				%td 04
				%td 03
				%td 02
				%td 01
			%tr
				%td.tac
					%h3.tac.tcs.twbl= w.datePretty
					- w.songs.reverse.each do |s|
						%td{ class: "#{slugify(s.title)}" }
							/.dib= s.position
							.dib.track
								= image_tag "tinkerings/spotify-data-project/#{s.image}", class: 'db', width: '200'
								%h4.grid-title.tsm= s.title


								/ %h5.tss= s.artist
								/ %p.tss= s.path

%article.row
	.cell.cell--s.well
		.card
			%h1
				Spotify Project:
				%strike Today's Top Hits
				Top 100 Data

			%h2 The Idea
			Visualize the top 10 of Spotify’s Today’s Top Hits playlist throughout 2015.

			%p
				In wanting to learn data visualization, it’s best for me to learn by projects. This process will help me understand data collection, sanitation, and visualization on a small scale. Plus, I love music and listen to this playlist often.

			%h2 Manual Data Collection… yuk
			%p
				In time, I’ll find out if there is an automated way of getting this information. For the moment, I’ll manually grab the information from the playlist every Monday.

			%p
				I chose Mondays because Tuesday is the day for new music. It will allow 6 days for the new music to work through the list.

			%p
				I quickly learned that the Today's Top Hits list is more of a curated list, so I switched to grabbing data from the Top 100 Playlist which appears to be by data. I was lucky that I had done some sampling before the start of the year or I would have missed out on a week of info.

			%h2 Attributes
			%ul
				%li Date
				%li Position
				%li Title
				%li Artist
				%li ID
				%li Image URL

			%h2 Grabbing Data
			%p
				I started by grabbing the information that Spotify makes easily available: HTTP Link, Spotify URI, and Embed Code. Here is an example of the information for the first song:
			%ul
				%li HTTP Link = http://open.spotify.com/track/4bBrKDo8rchikwZOtmXbIH
				%li Spotify URI = spotify:track:4bBrKDo8rchikwZOtmXbIH
				%li Embed Code = <iframe src="https://embed.spotify.com/?uri=spotify:track:4bBrKDo8rchikwZOtmXbIH" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

			%p
				It seems that the ID is used for all of the attributes. There’s a lot of redundancy if I’m collecting 10 songs per week and it can all be generated if necessary automatically. All I need from that is the ID: 4bBrKDo8rchikwZOtmXbIH

			%h2 Visualization Plans
			%p
				I know that I’ll be using D3 because this won’t be a simple graph. Over time, I’m guessing that there will be some interesting info to be shown and that it will require customization.

			%p
				While I have minimal data, the first decision is whether to display the dates horizontally or vertically. On a small screen, vertically makes the most sense. On a large screen, horizontal will allow for linear scrolling. Showing the path of a track through the weeks will always be tough on a small screen so that’ll be something to learn along the way.

			%h2 Setup
			%p
				Fortunately, this will be very simple. There’s no need for a build system. An HTML file, the data file, and D3 should suffice for now. If there ends up being a way to grab this data from an API I would need to set up an app, but I’ll deal with that later if necessary.

			%p
				Everything will be in the repo:

			%h2 Design Decisions
			%p
				In playing with the sample data, there are already some decisions to make. While listing the #1 first feels right for the data, my eyes tend to follow the list to the right. If it stays horizontal, I think the #1 should be last.

			=image_tag 'tinkerings/spotify-data-project/design-decisions.jpg', alt: 'screenshot of samples', height: 'auto'

			%ul
				%li Should dates run vertically or horizontally?
				%li What data should be shown in the up state vs. a hover state?
				%li What other data should be shown?
				%li Where should additional data be shown?

			%h2 January 18

			%p
				Some changes are already in play. In playing with the arrangement and figuring out what data should be shown, it became clear to me that the individual song data is more interesting than the week-to-week.

			%p
				This means that I need to structure the data in a way that allows for tracking an individual song's stats as well as each week's. I'm picturing that each week will be 10 vertical rows with each song showing it's meta data and a graph of it's performance through the list. I'll need a way of designating the entry point of the song because that will be interesting info to show as well.

			%p
				I was using Numbers to track this, exporting to CSV, using a CSV to JSON automater, and then working with the JSON. Now that I'm using Middleman, I think I'm going to use YML for a bit because of the clean structuring. If I ever tried grabbing all of the info from Spotify's API, I'd likely need to use JSON but I'm not sure I can pull off the structuring I need.

			%p
				For example, this week I'm going to try using their API to make the data collection faster. They don't link to the image URL so that part will still be manual. You can grab <a href="https://developer.spotify.com/web-api/get-playlist/">playlist info</a>.

			%p
				I'm slightly scared of the maintenance of the solution for tracking the progress of the track. It's simple but requires backwards updates. You're probably just not supposed to do things like this without a database. We shall see...

			%p
				Final note for the day: I'm pretty sure that I want the embed available as an option. What's the fun of seeing a song if you can't play it, right? The embeds actually display all of the meta information that I am showing as well. They're so big, but I'm wondering what it'd look like with a bunch of them. So I'm going to replace the images for the moment and compare a couple things.

			%p
				Final note for the day: I'm pretty sure that I want the embed available as an option. What's the fun of seeing a song if you can't play it, right? The embeds actually display all of the meta information that I am showing as well. They're so big, but I'm wondering what it'd look like with a bunch of them. So I'm going to replace the images for the moment and compare a couple things.

			%p
				A page with images has 49 requests and weighs in at 1.1mb
				A page with embeds has 428 requests and weighs in at 4.4mb

			%p
				It'd be irresponsible to do that for every set, so I'll have to work in the embeds in a different way.

			%h2 January 19

			%p
				Grabbing data from the Spotify API is pretty straight forward but it's a lot of data. I can trim it down but I still have to comb through a lot. The nice thing is that I think it would be possible to grab all of the meta that I want from it if I wanted to. It's set to grab the current state of a playlist, though, so this would have to be set to an automated job or I would have to do it weekly. It may be worthwhile to set that up just in case.

			%p
				Already borked the data once. I put the concurrent weeks in the wrong order. Sooooo thankful for that numbers sheet. Added just the slightest bit of styles just so it didn't look like an explosion.

			%p
				Made a mess of things tonight. I need to learn Bower. I was able to install Chartist from it, but I'm not sure how to reference it from Middleman so I ended up just duping it in the repo. Also, writing the Chartist JS in Coffee is odd. It requires weird structuring. The saddest part is that I'm likely not going to be able to use it. I love the simplicity of it, the weight, and the styles. However, I think I need the customization of d3. I want the scales to increase by 1 so you can see 10 places and I need to invert the scale so that 6 is higher than 8, for example.

			%h2 January 20

			%p
				I guess it needs to be design time. I have the information I need in a structure that seems to work. There are patterns emerging in the data that give me an idea of what I want to show. I can't use Chartist for it, so now I need to figure out how I want it to look so that I know what to learn in d3.

			%p
				I've been
				= link_to 'stashing', 'http://www.pinterest.com/dandenney/data-visualization/'
				a bunch of interesting data viz work for inspiration and there was
				= link_to 'a piece', 'https://www.behance.net/gallery/Weather-Dashboard-Global-Outlook-UIUX/12748107'
				that caught my eye today. There are so many good ideas in that set and a few patterns that make sense for this project.

			%h2 January 21

			%p
				Archiving screenshots of things that I'm killing. User tested the layouts and everyone (Cherrie and Jasmine) prefer the grid of album covers. So, I'm rolling with that. Also killing the chartist stuff since I can't use it.

			%p=image_tag 'tinkerings/spotify-data-project/sample-column-view.png', alt: 'screenshot of column layout', height: 'auto'

			%p=image_tag 'tinkerings/spotify-data-project/sample-song-graph.png', alt: 'screenshot of column layout', height: 'auto'

			%h2 January 22

			%p
				Drew had exactly what I needed the whole time as I fought to make the classes from the song titles last night.
				= link_to 'middleman library', 'https://github.com/drewbarontini/middleman-library'

			%h2 January 27

			%p
				Negative numbers! It hit me today while driving that negative numbers would help with plotting and showing change from week to week. I still can't use Chartist because of the lack of control over the guides, but making 10 and 1 be -10 and -1 would allow for the graph to work properly.

			%p=image_tag 'tinkerings/spotify-data-project/sample-graph-negative-plots.png', alt: 'screenshot of graph with negative plots', height: 'auto'

			%p
				Showing the change from week to week would work too: 4 - 2 = 2, but it's really a drop of 2 spots. If -4 and -2 are used, -4 - -2 = -2. We'll see what I can do with that.

			%h2 Feb 2

			%p
				I played with a staggered view a bit and I'll keep it for now. So far it's the best representaiton of the positions but I'm not sold on it.

			%p
				Some interesting data is starting to form. There are definitely things that I want to be able to show: highest jump in the charts, best starting point, and total number of individual tracks are a few. Those will definitely take some learning and I hope it can be done with the data as is.













