!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'Dan Denney'

    = stylesheet_link_tag current_page.data.css

  %body{ class: page_classes }

    = yield

    = partial 'partials/footer'

    / = javascript_include_tag  'vendor'
    / = javascript_include_tag  'application'

    = javascript_include_tag 'chartist'
    = javascript_include_tag 'tinkerings/spotify-data-project/spotify-data-project'

    %script
      new Chartist.Line('.ct-chart', {
      labels: ['Jan 5', 'Jan 12', 'Jan 19', 'Jan 26', 'Feb 2'],
      series: [
      [6,8,6,4,0]
      ]
      }, {
      axisY: {
      offset: 0,
      showLabel: false,
      showGrid: true,
      scaleMinSpace: 20
      },
      height: 390,
      high: 10,
      low: 0,
      showArea: true
      });

    = partial 'partials/analytics'
