{% layout "index" %}
{% block content %}

	<section class="home">

		<img src="{{ "dan-social-avatar.png" | asset_url }}" alt="Dan Denney" class="home-avatar" />

		<h1>I'm Dan Denney, a front-end dev at <a href="http://envylabs.com">Envy Labs</a> and founder of <a href="http://frontendconf.com">Front-End Conf</a>.</h1>

		<div class="home-featured">

			<header class="header--home-featured">
				<h2>Blog Posts</h2>
				<p>The typical article-styled writings</p>
			</header>

			<ul class="list--something">
				{% collection "posts" by 3 order desc %}
					{% include "articles/article" with collection.items %}
				{% endcollection %}
				<li class="pseudoNav--more">
					<a href="/posts">See All Blog Posts</a>
				</li>
			</ul>

		</div>


		<div class="home-featured">

			<header class="header--home-featured">
				<h2>Blips</h2>
				<p>Quick thoughts and reactions</p>
			</header>

			<ul class="list--something">
				{% collection "blips" by 3 order desc %}
					{% include "articles/article" with collection.items %}
				{% endcollection %}
				<li class="pseudoNav--more">
					<a href="/blips">See All Blips</a>
				</li>
			</ul>

		</div>

		<div class="home-featured">

			<header class="header--home-featured">
				<h2>Tinkerings</h2>
				<p>Front-end devign mini projects</p>
			</header>

			<ul class="list--something">
				{% collection "tinkerings" by 3 order desc %}
					{% include "articles/article" with collection.items %}
				{% endcollection %}
				<!-- <li class="pseudoNav--more">
					<a href="/tinkerings">See All Tinkerings</a>
				</li> -->
			</ul>

		</div>

	</section>

	<section class="events--upcoming">

		<h4>Events I'll be at in 2014 (so far)</h4>

		<ul class="list--events">

			<li class="list--item is-past">
				<img alt="Grok" class="attending--image" src="{{ "attending--playlist-live.png" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://playlist-live.com/welcome">Playlist Live</a></h5>
				<p class="events--meta">March 21-23, 2014
				<br />
				Orlando, FL</p>
			</li>

			<li class="list--item is-past">
				<img alt="Grok" class="attending--image" src="{{ "attending--grok.jpg" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://theironyard.com/events/grok">Greenville Grok</a></h5>
				<p class="events--meta">April 3-5, 2014
				<br />Greenville, SC</p>
			</li>

			<li class="list--item is-past">
				<img alt="Creative South" class="attending--image" src="{{ "attending--creative-south.jpg" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://creativesouthga.com">Creative South</a></h5>
				<p class="events--meta">April 11-12, 2014
				<br />Columbus, GA</p>
			</li>

			<li class="list--item">
				<img alt="ConvergeSE" class="attending--image" src="{{ "attending--converge-se.jpg" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://convergese.com">ConvergeSE</a></h5>
				<p class="events--meta">May 1-3, 2014
				<br />Columbia, SC</p>
			</li>

			<li class="list--item">
				<img alt="Front-End Conf" class="attending--image" src="{{ "attending--front-end-conf.png" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://frontendconf.com">Front-End Conf</a></h5>
				<p class="events--meta">July 11-12, 2014
				<br />St. Petersburg, FL</p>
			</li>

			<li class="list--item">
				<img alt="Front-End Conf" class="attending--image" src="{{ "attending--front-end-conf.png" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://frontendconf.com">Front-End Conf</a></h5>
				<p class="events--meta">August 21-22, 2014
				<br />Portland, OR</p>
			</li>

			<li class="list--item">
				<img alt="Blend Conf" class="attending--image" src="{{ "attending--blend-conf.png" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://blendconf.com">Blend Conf</a></h5>
				<p class="events--meta">September 11-13, 2014
				<br />Charlotte, NC</p>
			</li>

			<li class="list--item">
				<img alt="Sass Conf" class="attending--image" src="{{ "attending--sass-conf.png" | asset_url }}" width="120" />
				<h5 class="events--title"><a href="http://sassconf.com">Sass Conf</a></h5>
				<p class="events--meta">October 2-4, 2014
				<br />New York City, NY</p>
			</li>

		</ul>

	</section>

{% endblock %}
