%section.row
  .cell.cell--s
    .well

      = image_tag 'dan-denney-avatar.png', alt: 'Dan Denney illustration by Ricardo Gimenes', class: 'db mhc mtm', width: '200'

      %h1.mtm.tsl
        Hi! I'm Dan Denney, a front-end dev at
        = link_to 'Code School', 'http://codeschool.com'
        and founder of <a href="http://frontendconf.com">Front-End Conf</a>.

      .card.mtl

        %h2 Recent Posts

        - blog('posts').articles[0...3].each_with_index do | article,i |
          %h4
            = link_to article.title, article
            %span.tcs.tsxs.twn= article.date.strftime('%b %e')

      .card.mtm
        
        %h2 Recent Blips

        - blog('blips').articles[0...3].each_with_index do | article,i |
          %h4
            = link_to article.title, article
            %span.tcs.tsxs.twn= article.date.strftime('%b %e')

      .card.mtm

        %h2 Recent Tinkerings

        - blog('tinkerings').articles[0...3].each_with_index do | article,i |
          %h4
            = link_to article.title, article
            %span.tcs.tsxs.twn= article.date.strftime('%b %e')
