---
js: home 
---

%section.bch.oh
  .g

    .g-b.g-b--m--1of2.pbl.pll.prl.ptm

      .profile

        = image_tag 'dan-denney-avatar.png', alt: 'Dan Denney illustration by Ricardo Gimenes', class: 'db mhc mtm', width: '200'

        %h1.mtm.tsm.tcti
          I'm Dan Denney, a front-end dev at
          = link_to 'Code School', 'http://codeschool.com', class: 'tcti'
          and founder of <a href="http://frontendconf.com" class="tcti">Front-End Conf</a>.
    
    .g-b.g-b--m--1of2.bci.pal

      .g
        .g-b.g-b--l--1of3
        
          %h2.mbf
            %span.tsxl 35
            =link_to 'Posts', '/posts', class: 'tss'

        .g-b.g-b--l--2of3

          - blog('posts').articles[0...1].each_with_index do | article,i |
            %p
              %span.db.tcs.tss Most recent:  
              = link_to article.title, article
              %span.tcs.tsxs.twn= article.date.strftime('%b %e')

      .ct-chart.ct-posts

      .g.ptl
        .g-b.g-b--l--1of3
      
          %h2.mbf
            %span.tsxl 18
            =link_to 'Blips', '/blips', class: 'tss'

        .g-b.g-b--l--2of3

          - blog('blips').articles[0...1].each_with_index do | article,i |
            %p
              %span.db.tcs.tss Most recent:  
              = link_to article.title, article
              %span.tcs.tsxs.twn= article.date.strftime('%b %e')

      .ct-chart.ct-blips

      .g.ptl
        .g-b.g-b--l--1of3
        
          %h2.mbf
            %span.tsxl 5
            =link_to 'Tinkerings', '/tinkerings', class: 'tss'

        .g-b.g-b--l--2of3

          - blog('tinkerings').articles[0...1].each_with_index do | article,i |
            %p
              %span.db.tcs.tss Most recent: 
              = link_to article.title, article
              %span.tcs.tsxs.twn= article.date.strftime('%b %e')

      .ct-chart.ct-tinkerings
